*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primo, .secondo{
    width: 1520px;
    height: 400px;
}

.secondo{
    margin-top: 10px;
}

.small-contanier{
    width: 500px;
    height: 360px;
    background-color: lightgrey;
    display: inline-block;
    position: relative;
}

.sconto{
    width:0 auto;
    display: inline-block;
    position: absolute;
    font-size: 25px;
    right: 0px;
}

.verde{
    background-color: green;
}

.rosso{
    background-color: red;
}

.immagini{
    position: absolute;
    width: 170px;
    height: 150px;
    margin-top: 90px;
    margin-left: 120px;
}

.heart{
    position: absolute;
    color: red;
    font-size: 35px;
    bottom: 10px;
    left:200px;
    display: none;
}

.immagini:hover + span{
    display: block;
}
