*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primo, .secondo{
    width: 1540px;
    height: 400px;
}

.small-contanier{
    width: 505px;
    height: 350px;
    background-color: lightgrey;
    display: inline-block;
    position: relative;
}

.sconto{
    width:0 auto;
    display: inline-block;
    position: absolute;
    font-size: 25px;
    right: 0px;
}

.verde{
    background-color: green;
}

.rosso{
    background-color: red;
}
